{
  "parser": "babel-eslint",
  "rules": {
    "strict": 1,
    "comma-spacing":1,
    "no-console":0,
    "indent": ["error", "tab"]
  },
  "parserOptions": {
    "sourceType": "script",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": "eslint:recommended",
  "globals": {
  	"require": true,
  	"module": true
  },
  "env":{
  	"es6": true,        // We are writing ES6 code
    "browser": true,    // for the browser
    "commonjs": true    // and use require() for stylesheets
  }
}
